In [1]:
# Null hypothesis as H0 : Independence of categorical variables (customer order forms defective % does not varies by centre)
# Alternate hypothesis as Ha : Dependence of categorical variables (customer order forms defective % varies by centre)

In [2]:
import pandas as pd
import scipy
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [5]:
df=pd.read_csv(r"C:\Users\sanket Gawali\Downloads\Costomer+OrderForm.csv")
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [8]:
df.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [9]:
df.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [11]:
df.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [12]:
df.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [13]:
# Make a contingency table
df1=np.array([[271,267,269,280],[29,33,31,20]])
df1

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [15]:
# Chi2 contingency independence test
chi2_contingency(df1)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [ ]:
# Pvalue = 0.2771
# Therefore P value is greater than alpha
# Thus we failed to reject null hypothesis
# Inference: As (p_value = 0.2771) > (α = 0.05); Failed to reject Null hypothesis i.e Independence of categorical variables Thus, customer order forms defective % does not varies by centre