In [1]:
# Ho= All proportions are equal
# Ha= Not all proportions are equal

In [2]:
import pandas as pd 
import scipy
import numpy as np
from scipy import stats
from scipy.stats import chi2_contingency

In [5]:
df=pd.read_csv(r"C:\Users\sanket Gawali\Downloads\BuyerRatio (1).csv")
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [7]:
# Make dimensional array
df1=np.array([[50,142,131,70],[435,1523,1356,750]])
df1

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [9]:
# Chi2 contingency independence test
chi2_contingency(df1)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [ ]:
# P_value(0.66030949)> alpha(0.05), Hence we failed to reject null hypothesis.